* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    margin: 20px;
    line-height: 1.5;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.imgComput {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

@media(prefers-color-scheme: light) {
    :root {
        --bg-color: #FFFFFF;
        --text-color: #000000;
    }
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: #000000;
        --text-color: #FFFFFF;
    }
}